@media (orientation: landscape) {
    .CanvasContainer {
        margin: 0;
        padding: 0;
        width: 133vh;
        height: 99%;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid rgba(255, 255, 255, 1) 0.1vh;
        box-sizing: border-box;
    }
}



@media (orientation: portrait) {
    .CanvasContainer {
        margin: 0;
        padding: 0;
        width: 99%;
        height: 67vw;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid rgba(255, 255, 255, 1) 0.1vh;
        box-sizing: border-box;
    }
}