.gameContainer {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33 ,1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.fireButtonContainer {
    height: 100%;
    width: 10%;
    flex-grow: 1;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.fireButton {
    height: 20%;
    width: 60%;
    margin-bottom: 15%;
    background-color: aqua;
    cursor: pointer;
}

.invulnerabilityButtonContainer {
    height: 100%;
    width: 10%;
    flex-grow: 1;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.invulnerabilityButton {
    height: 20%;
    width: 60%;
    margin-bottom: 15%;
    background-color: aqua;
    cursor: pointer;
}